body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

.tile {
    position: absolute;
}

.player {
    position: absolute;
}

.svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.row {
    width: 100%;
    height: 100%;
}

#map {
    overflow: scroll;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#map::-webkit-scrollbar {
    display: none;
  }
  

#move{
    width: 80px;
    height: 80px;
    background-color: lightskyblue;
    border: 3px;
    border-radius: 10px;
    border-color: black;
    position: relative;
    z-index: 100;
}
#move:hover{
    background-color: blue;
}

#shoot{
    width: 80px;
    height: 80px;
    background-color: lightcoral;
    border: 3px;
    border-radius: 10px;
    border-color: black;
    position: relative;
    z-index: 100;
}

#shoot:hover{
    background-color: red;
}

.hud0{
    width: 100%;
    border: 2px;
    padding: 3px;
    border-style: solid;
    border-color: black;
    color: black;
    background-color: white;
    position: relative;
    z-index: 100;
}

.hud1{
    width: 100%;
    border: 2px;
    padding: 3px;
    border-style: solid;
    border-color: white;
    text-align: right;
    color: white;
    background-color: black;
    position: relative;
    z-index: 100;
}
