extends layout

block content
  div(class="row justify-content-center align-items-start")
      div(class="col-lg-4" style="text-align: center;")
        img(src="/imgs/move.svg" id="move" onclick="movementMode()")
        img(src="/imgs/crosshair.svg" id="shoot" onclick="shootMode()")
  div(class="row" id="row1")
    div(class="col-lg-2 col-sm-2" id="team0" )
    div(class="col-lg-8 col-sm-8")
    div(class="col-lg-2 col-sm-2" id="team1" )
  div(class="row justify-content-center align-items-start")
    div(class="col-lg-4" style="text-align: center;")
      img(src="/imgs/move.svg" id="move" onclick="movementMode()")
      img(src="/imgs/crosshair.svg" id="shoot" onclick="shootMode()")
  div(id="map")
  script(type='text/javascript' src='/js/game-logic.js')
